/*Color */


/*Primary Color */

$colorDarkBlue: hsl(240, 38%, 20%);
$colorGrayishBlue: hsl(240, 18%, 77%);

/*mixin */

@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}